---
import Layout from "../../layouts/Layout.astro";
import ContactoForm from "../../components/ContactoForm";
---

<Layout title="Contacto - EligeTuFuturo">
  <main class="min-h-screen bg-[#F4F5F9]">
    <ContactoForm client:load />
  </main>
</Layout>
