---
import Layout from "../../layouts/Layout.astro";
import BuscadorCarrerasComponent from "../../components/BuscadorCarreras.tsx";
---

<Layout title="Buscador de Carreras | Elige tu Futuro">
  <div
    class="bg-[#FAFAFA] min-h-screen pt-24 pb-32 overflow-hidden relative flex flex-col justify-start"
  >
    <div
      class="absolute top-0 left-1/2 w-[800px] h-[600px] bg-[#6544FF]/10 rounded-full blur-[150px] pointer-events-none mix-blend-multiply -translate-x-1/2 -translate-y-1/2"
    >
    </div>

    <div
      class="absolute top-[40%] right-0 w-[400px] h-[400px] bg-cyan-400/5 rounded-full blur-[100px] pointer-events-none mix-blend-multiply translate-x-1/3"
    >
    </div>

    <div class="container mx-auto px-6 lg:px-8 relative z-10 w-full">
      <BuscadorCarrerasComponent client:load />
    </div>
  </div>
</Layout>
