---
import Layout from "../../layouts/Layout.astro";
import BuscadorCarrerasComponent from "../../components/BuscadorCarreras.tsx";
---

<Layout title="Buscador de Carreras | Elige tu Futuro">
  <div class="bg-[#FAFAFA] min-h-screen h-screen">
    <div class="relative z-10 w-full">
      <BuscadorCarrerasComponent client:load />
    </div>
  </div>
</Layout>
