---
// src/pages/herramientas/calculadora.astro
import Layout from "../../layouts/Layout.astro";
import CalculadoraNem from "../../components/CalculadoraNem.tsx";
---

<Layout title="Calculadora de Puntaje PAES - Elige Tu Futuro">
  <div class="bg-[#fafafa] min-h-screen h-screen">
    <div class="relative z-10 w-full">
      <CalculadoraNem client:load />
    </div>
  </div>
</Layout>
