---
// src/pages/herramientas/calendario.astro
import Layout from "../../layouts/Layout.astro";
import CalendarioPaesComponent from "../../components/CalendarioPaes.tsx";
---

<Layout title="Calendario PAES - Fechas Clave y Ensayos">
  <div class="bg-[#FAFAFA] min-h-screen">
    <div class="relative z-10 w-full">
      <CalendarioPaesComponent client:load />
    </div>
  </div>
</Layout>
