---
import Layout from "../../layouts/Layout.astro";
import EventosCharlas from "../../components/EventosCharlas.tsx";
---

<Layout title="Eventos y Ferias Universitarias - Admisión 2026">
  <div class="bg-[#FAFAFA] min-h-screen">
    <div class="">
      <EventosCharlas client:load />
    </div>
  </div>
</Layout>
