---
import Layout from "../../layouts/Layout.astro";
import GuiaFuas from "../../components/GuiaFuas.tsx";
---

<Layout title="Guía FUAS y Gratuidad - Beneficios Estudiantiles">
  <div class="bg-[#FAFAFA] min-h-screen">
    <div class="">
      <GuiaFuas client:load />
    </div>
  </div>
</Layout>
