---
import Layout from "../../layouts/Layout.astro";
import DirectorioInstitucionesComponent from "../../components/DirectorioInstituciones";
---

<Layout title="Directorio de Instituciones | Elige tu Futuro">
  <div class="bg-[#FAFAFA] min-h-screen">
    <div class="">
      <DirectorioInstitucionesComponent client:load />
    </div>
  </div>
</Layout>
