---
import Layout from "../../layouts/Layout.astro";
import MercadoLaboralComponent from "../../components/MercadoLaboral.tsx";
---

<Layout title="Mercado Laboral y Empleabilidad | Elige tu Futuro">
  <div class="bg-[#FAFAFA] min-h-screen">
    <div class="">
      <MercadoLaboralComponent client:load />
    </div>
  </div>
</Layout>
