---
// src/layouts/Layout.astro
import { ViewTransitions } from "astro:transitions";
import Header from "../components/Header.tsx";
import Footer from "../components/Footer.tsx"; // <-- 1. Importamos el Footer
import "../styles/global.css";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es" data-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Plataforma Elige Tu Futuro" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body
    class="min-h-screen bg-base-100 text-base-content antialiased flex flex-col overflow-x-hidden"
  >
    <Header client:load />

    <div class="flex-grow">
      <slot />
    </div>

    <Footer client:visible />
  </body>
</html>
